
on: 
  workflow_dispatch:

jobs:
  example-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Hello World Composite Action
        uses: ./.github/actions/hello-world-composite-action
