on: [workflow_dispatch]

jobs:
 call-workflow-1:
    uses: YehiaMostafaElabd/Smoke-TestsV2/.github/workflows/build-job.yml@Testing
 test:
    needs: [call-workflow-1]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: echo Main
        run: |
          echo Hello Main
   
 call-workflow-2:
       needs: [call-workflow-1]
       uses: YehiaMostafaElabd/Smoke-TestsV2/.github/workflows/test.yaml@Testing
#       uses: YehiaMostafaElabd/Smoke-TestsV2/.github/workflows/example.yml@Testing

 test2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: echo Main
        run: |
            echo "| call-example-2    ${{ needs.call-example-2.result }} >> $GITHUB_STEP_SUMMARY
        continue-on-error: true # Simulates a failure in this step

 Date-artifact:
      runs-on: ubuntu-22.04
      outputs:
        Artifact_Date: ${{ steps.date.outputs.date }}
      steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
 DATE-PASSING:
     needs: [ Date-artifact ]
     uses: .github/workflows/DATE.yml@Testing
     with:
       date: ${{ needs.Date-artifact.outputs.Artifact_Date }}
 use-output: 
  needs: DATE-PASSING 
  runs-on: ubuntu-latest 
  steps: 
    - name: Print Greeting 
      run: |
         echo  test: ${{ needs.DATE-PASSING.outputs.result }} >> $GITHUB_STEP_SUMMARY
         echo "${{ needs.DATE-PASSING.outputs.build_status }}"  >> $GITHUB_STEP_SUMMARY
         echo 2  >> $GITHUB_STEP_SUMMARY
         echo "${{ needs.DATE-PASSING.result  }}"    >> $GITHUB_STEP_SUMMARY
