on: [workflow_dispatch]

jobs:
 call-workflow-branch-ref:
    uses: ./.github/workflows/build-job.yml
 test:
    needs: [call-workflow-branch-ref]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: echo Main
        run: |
          echo Hello Main
   
