on: [workflow_dispatch]

jobs:
  build:
    uses: ./.github/workflows/build-job.yml@testing



  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Echo Main
        run: |
          Hello Main
   
