# Runs all ecosystems cached and concurrently.
name: Smoke

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:

#env:
#  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  suites:
    uses: ./.github/workflows/list-suites.yml
  smoke:
    runs-on: ubuntu-latest
    needs: suites
    strategy:
      fail-fast: false
      matrix:
        suite: ${{ fromJSON(needs.suites.outputs.suites) }}
    steps:
      - uses: actions/checkout@v4
      

      - name: ${{ matrix.suite }}
#        env:
#          LOCAL_GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tests/smoke-${{ matrix.suite }}.yaml

  
